body{
  margin: 0;
  padding: 0;
}
.home .post{
  background: rgba(112,145,67,.4);
}

.home .post img{
  position: absolute;
  top: 20px;
  left: -10px;
  background: rgba(12,45,67,.4);
  border-radius: 50%;
  opacity: .5;
  box-shadow: 3px black;
}
.home .post{
  overflow: hidden;
  padding-left: 70px;
}